{% load static %}

<!doctype html>
<html lang="en">
  <head>

	  <style>
            .carousel-item{
               height: 400px;
             }  
             .carousel-item img{
               height: 400px;
             }
	    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>{% block title %}Water Supply and Sanitation Division No. 5{% endblock %}</title>
  </head>

<body>

<div class="container-fluid bg-light mb-4">
<div class="row mt-1">
	<div class="col-md-2">
		<img src = "/media/photos/logo_nepal.png" class="img-fluid float-left bg-light" alt="Logo here!">
	</div>
	<div class="col-md-8">	
		<div class="row">
			<div class="col-md-12">
				<p class="text-center text-primary h5"> प्रदेश सरकार </p>
			</div>	
	
			<div class="col-md-12">
				<p class="text-center text-danger h2"> खानेपानी तथा सरसफाई डिभिजन नं ५ </p>
			</div>
			<div class="col-md-12">
				<p class="text-center h6"> बागमती प्रदेश </p>
			</div>				
			<div class="col-md-12">
				<p class="text-center h6"> लोकन्थली,भक्तपुर </p>
			</div>
			
		</div>
	</div>
	<div class="col-md-2">
	</div>
</div> 

<nav class="navbar navbar-light bg-dark">
      <a href="/wsasd5/" class="navbar-brand text-white">गृहपृष्ठ</a>
      <a href="/wsasd5/" class="navbar-brand text-white">संगठन संरचना</a>
      <a href="/wsasd5/" class="navbar-brand text-white">प्रकाशनहरु</a>
      <a href="/wsasd5/" class="navbar-brand text-white">हाम्रो बारेमा</a>
    </nav>	
</div>

<div id="content">
{% block content %}{% endblock %}
</div>

<div class="container">
	<div class="row">
		<div class="col-md-3 footer-about">
			<h4>प्रदेश सरकार</h4>
			<h3>खानेपानी तथा सरसफाई डिभिजन नं ५</h3>
			<h4>भौतिक पूर्वाधार विकास मन्त्रालय</h4>
			<h4>बागमती प्रदेश</h4>
		</div>

		<div class="col-md-4 offset-md-1 footer-contact">
			<h3>सम्पर्क</h3>
				<p><i class="fas fa-map-marker-alt"></i> लोकन्थली,भक्तपुर</p>
				<p><i class="fas fa-phone"></i> फोन: ०१-५१८२२११</p>
				<p><i class="fas fa-envelope"></i> इमेल: <a href="mailto:pr3wssd5@gmail.com">pr3wssd5@gmail.com</a></p>

		</div>
		
		<div class="col-md-4 footer-links">
			<div class="row">
				<div class="col">
					<h3>Quick Links</h3>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<ul class="quick-nav">
						<li><a href="https://mopid.bagamati.gov.np/">Home</a></li>
						<li><a href="https://mopid.bagamati.gov.np/about-ministry/introduction">About Ministry</a></li>
						<li><a href="https://mopid.bagamati.gov.np/publication/notices">Notices</a></li>
						<li><a href="https://mopid.bagamati.gov.np/publication/press-releases">Press Releases</a></li>
						<li><a href="https://mopid.bagamati.gov.np/publication/tenders">Tenders</a></li>
						<li><a href="https://mopid.bagamati.gov.np/publication/forms">Forms</a></li>
						<li><a href="https://mopid.bagamati.gov.np/contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% block javascript %} {% endblock %}
</body>
</html>
