{% extends "wsasd5/base.html" %}	
{% block content %}
{% load static %}


<div class="table-responsive p-5">
<table class="table table-bordered table-striped main-table">
<tr>
	<th>स‌ंकेत नं:</th>
	<th>नाम</th>
	<th>जन्म मिति</th>
	<th>पद</th>
	<th>उमेर</th>
	<th>तस्विर</th>
</tr>




{% for i in employee_list %}

<tr>
	<td>{{ i.employee_id }}</td>
	<td>{{ i.employee_firstname }} {{i.employee_lastname }}</td>
	<td>{{ i.employee_dob }}</td>
	<td>{{ i.employee_position.get_position_title_display }}</td>
	<td>{{ i.is_over_18 }}</td>
	<td>
		{% if i.photo_or_cv_exists %}
	    	<img style="height:100px;width:auto" src = "{{ i.employee_photo.url }}" class="img-fluid rounded d-block mx-auto" alt="Picture here!">
		{% else %}
			<img style="height:100px;width:auto" src = "{% static 'wsasd5/images/profile.jpeg'%}" class="img-fluid rounded d-block mx-auto" alt="Picture here!">
		{% endif %}
		<div class="d-inline-block text-center">
        <a class="btn btn-primary btn-sm" href="{% url 'employee_edit' employee_id=i.employee_id %}"> Edit </a>
		<a class="btn btn-danger btn-sm d-inline-block" href="{% url 'employee_delete' employee_id=i.employee_id %}" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
		</div>
	</td>
</tr>
    			 
{% endfor %}
</table>
</div>



<div class="container">
   <div class="row">
   		<div class="h5 mr-auto">
			<a class="btn btn-outline-dark btn-sm" href="{% url 'employee_add' %}">कर्मचारी थप्नुहोस्</a>
     	</div>
   </div>
</div>

{% endblock %}
