{% extends "wsasd5/base.html" %}	
{% block content %}
{% load static %}


<div class="table-responsive p-5">
<table class="table table-bordered table-striped main-table">
<tr>
	<th>क्र.सं:</th>
	<th>नाम</th>
	<th>पद</th>
	<th>शाखा</th>
	<th>सम्पर्क नं</th>
</tr>




{% for i in employee_list %}

<tr>
	<td>{{ forloop.counter }}</td>
	<td>{{ i.employee_firstname }} {{i.employee_lastname }}</td>
	<td>{{ i.employee_position.get_position_title_display }}</td>
	<td>{{ i.employee_section }}
	<td>{{ i.employee_telephone }}</td>
</tr>
    			 
{% endfor %}
</table>
</div>



<div class="container">
   <div class="row">
     <div class="h5 mr-auto">
	     {#	<a class="btn btn-outline-dark btn-sm" href="{% url 'employee_add' %}">कर्मचारी थप्नुहोस्</a>#}
      </div>
   </div>
</div>

{% endblock %}
